.welcome-message {
  align-self: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
}
.message-list {
  list-style-type: none;
  padding: 0;
}
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.received {
  align-self: flex-start;
  justify-content: flex-start;
  text-align: left;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
}
.sent {
  align-self: flex-end;
  justify-content: flex-end;
  text-align: right;
  background-color: #0084ff;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem;
  width: 50%;
}

.chat-body {
  flex-grow: 1;
  overflow-y: scroll;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.connectionButton {
  align-self: center;
  background-color: #0084ff;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 100px;
}
